[submodule "modules/library"]
    path = modules/library
    url = https://github.com/your-user/child-repo.git
    branch = master
[submodule "VPN"]
	branch = master
[submodule "Network_Diagnostics"]
	path = Network_Diagnostics
	url = https://github.com/maemune/Network_Diagnostics.git
