[submodule "VPN"]
    path = VPN
    url = https://github.com/maemune/VPN.git
	branch = master
[submodule "Network_Diagnostics"]
	path = Network_Diagnostics
	url = https://github.com/maemune/Network_Diagnostics.git
	branch = master
